<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Currency Exchange App</title>
</head>
<body>
  <h1>Currency Coverter</h1>
  <form action="/connection">

    <label for="from">Convert From</label>
    <input type = "text" id="from" name="convert_from"><br>
    <label to="to">Convert To</label>
    <input type = "text" id="to" name="convert_to"><br>

    <label amount="amount">Amount</label>
    <input type = "text" id="amount" name="amount"><br>
    <button>Submit!</button>
  </form> 
  
</body>
</html>