<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Add SongList</title>
        </head>
        <body>
            <h1>New Songlist</h1>
            <form method="POST">
                {{form1.hidden_tag()}}
                {% for field in form1 if field.widget.input_type !='hidden'%}
                <p>
                    {{field.label}}
                    {{field}}
                   
                </p>
                {% endfor %}
                <button>Submit</button>

            </form>
        </body>
    
</html>