<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Regrister Form</title>
  </head>
  <body>
    <h1><center>Home Pages</center></h1>
    <h3>FUNCTION</h3>
     <form action="/search" method="post">
         <p><button name="search">Search Button</button></p>

     </form> 
     <p>
       <h3>Most Recent Visit</h3>
       
     </p>
</body>

