{% extends 'StartWindow.html' %}
{% block content %}

<center>

<p class="lead">Welcome! Please Register.</p>

<form method="POST">

  {{ form.hidden_tag() }}

  {% for field in form
  if field.widget.input_type != 'hidden' %}
  <p>

    {{ field.label }}
    {{ field }}
  

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>
  {% endfor %}

  <button type="submit" formaction="/thanks">Log In</button>

</form>
</center>
</div>

{% endblock %}
